NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

PAYSTATION_MODE=mock
PAYSTATION_MERCHANT_ID=
PAYSTATION_PASSWORD=
PAYSTATION_BASE_URL=https://api.paystation.com.bd

RESEND_API_KEY=
EMAIL_FROM_INVOICE=Associates Academy <invoice@associatesacademy.com.bd>
EMAIL_FROM_SUPPORT=Associates Academy <support@associatesacademy.com.bd>
SECURITY_EMAIL=security@associatesacademy.com.bd

NEXT_PUBLIC_GA4_MEASUREMENT_ID=
GA4_API_SECRET=
GA4_PROPERTY_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
NEXT_PUBLIC_META_PIXEL_ID=
META_DATASET_ID=
META_CAPI_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_MARKETING_ACCESS_TOKEN=
META_GRAPH_API_VERSION=

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
CRON_SECRET=
ANALYTICS_HASH_SALT=
LOCAL_DEMO_ADMIN=false
