# Production value: https://www.associatesacademy.bd
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

PAYSTATION_MODE=sandbox
PAYSTATION_SANDBOX_MERCHANT_ID=
PAYSTATION_SANDBOX_PASSWORD=
PAYSTATION_LIVE_MERCHANT_ID=
PAYSTATION_LIVE_PASSWORD=

RESEND_API_KEY=
EMAIL_FROM_INVOICE=Associates Academy <invoice@associatesacademy.bd>
EMAIL_FROM_SUPPORT=Associates Academy <support@associatesacademy.bd>
SECURITY_EMAIL=security@associatesacademy.bd

NEXT_PUBLIC_GA4_MEASUREMENT_ID=
GA4_API_SECRET=
GA4_PROPERTY_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
META_DATASET_ID=
META_CAPI_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_MARKETING_ACCESS_TOKEN=
META_GRAPH_API_VERSION=

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
CRON_SECRET=
ANALYTICS_HASH_SALT=
LOCAL_DEMO_ADMIN=false
